@page "/"

<h2>ToastBlazor Demo</h2>

<button class="btn" @onclick="@ShowBasic">Basic</button>
<button class="btn" @onclick="@ShowCustom">Custom</button>
<button class="btn" @onclick="@ShowPositions">Positions</button>
<button class="btn" @onclick="@ShowThemes">Themes</button>
<button class="btn" @onclick="@ShowTypes">Types</button>

@code{
    void ShowBasic() => Nav.NavigateTo("/examples/basic");
    void ShowCustom() => Nav.NavigateTo("/examples/custom");
    void ShowPositions() => Nav.NavigateTo("/examples/positions");
    void ShowThemes() => Nav.NavigateTo("/examples/themes");
    void ShowTypes() => Nav.NavigateTo("/examples/types");
}